<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecera::cabecera-seccion(titulo='Inicio')}"/>
<body>
<!--Menu de navegacion-->
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>
<!--Tabla-->
<div class="container">
    <table class="table table-dark table-hover alig-middle">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto: ${listaContactos}">
            <th th:text="${contacto.idContacto}" scope="row"></th>
            <td th:text="${contacto.nombre}"></td>
            <td th:text="${contacto.celular}"></td>
            <td th:text="${contacto.email}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"/>
</body>
</html>